.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.App input{
  width: 100px;
  margin-left: 50vw;
  text-align: center; 
  display: flex;
  justify-content: center;

}
